@import "tailwindcss";

@theme inline {
  --color-primary: #0f62ac;
  --color-primary-light: #f1f8fc;
  --color-text: #2e2e2e;
  --color-text-muted: rgba(0, 0, 0, 0.4);
  --color-danger: #f25050;
  --font-sans: var(--font-instrument);
  --font-heading: var(--font-heading);
}

body {
  font-family: var(--font-instrument), "Instrument Sans", sans-serif;
  background: #f1f8fc;
  color: #2e2e2e;
}
